<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="icon" type="image/x-icon" href="/assets/images/favicon.io"/>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Droid+Sans"/>
        <link rel="stylesheet" href="/assets/css/styles.css">
    </head>
    <body>
        <header>
            <h1>{{ site.title }}</h1>
            {% include navigation.html %}
            <hr/>
        </header>
        <main>
            {{ content }}
        </main>
        <footer>
            <hr/>
            <ul>
                <li>Author: <a href="https://www.nathangs.ca/?theme=gruvbox">Nathan Gurrin-Smith</a></li>
                <li>Email: {{ site.email }}</li>
                <li>Github: <a href="{{ site.code_repo }}">code base here</a></li>
            </ul>
        </footer>
    </body>
</html>
